@media screen and (min-width: 820px) and (max-width:950px) {
  /*HOME*/
   h1 {
        font-size: 4.7rem;
      }
    h1 span {
      font-size: 5.1rem;
    }
    
    .col-a {
        font-size: 1.4rem;  
    }
    .col-b {
        font-size: 1.4rem;
    }
    span {
        font-size: 1.4rem;
    }
    .col-c {
        font-size: 1.7rem;
    }
    
    .home {
        padding-top: 6rem;
        
    }
    
    
    /*RIGHT*/
    .col-a-a {
        font-size: 1.4rem;
    } 
    .modal-btn {
        position: relative;
        overflow: hidden;
        box-shadow: 1px;
        overflow: hidden;

        
      }
    
      .play {
        left: 0.9rem;
        bottom: 1.1rem;
      }

      .col-a-b {
        font-size: 1rem;
      }
      /* BUTTON */

      .btn-contatos {
        height: 4.8em;
        width: 16em;
        font-size: 20px;
       }
}